openapi: 3.1.0
info:
  title: Azure Monitor Action Groups API
  description: Create and manage action groups that define notification and automation actions triggered by Azure Monitor alerts, including email, SMS, webhooks, and Azure Functions.
  version: '2022-06-01'
  contact:
    name: Microsoft Azure Support
    url: https://azure.microsoft.com/en-us/support/options/
  license:
    name: Microsoft API License
    url: https://azure.microsoft.com/en-us/support/legal/
servers:
- url: https://management.azure.com
  description: Azure Resource Manager
security:
- oauth2:
  - https://management.azure.com/.default
tags:
- name: Action Groups
  description: Operations for managing action groups
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/actionGroups/{actionGroupName}
  : put:
      operationId: ActionGroups_CreateOrUpdate
      summary: Azure Monitor Create or update an action group
      description: Create a new action group or update an existing one. Action groups define the actions to take when an alert is fired.
      tags:
      - Action Groups
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ActionGroupNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      requestBody:
        description: The action group to create or update.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActionGroupResource'
      responses:
        '200':
          description: An existing action group was successfully updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionGroupResource'
        '201':
          description: A new action group was successfully created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionGroupResource'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      operationId: ActionGroups_Get
      summary: Azure Monitor Get an action group
      description: Get an action group by name from a resource group.
      tags:
      - Action Groups
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ActionGroupNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successful request to get an action group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionGroupResource'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      operationId: ActionGroups_Delete
      summary: Azure Monitor Delete an action group
      description: Delete an action group from a resource group.
      tags:
      - Action Groups
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ActionGroupNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successful request to delete an action group.
        '204':
          description: Action group does not exist.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      operationId: ActionGroups_Update
      summary: Azure Monitor Update an action group
      description: Updates an existing action group's tags. Only tag updates are supported via PATCH.
      tags:
      - Action Groups
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ActionGroupNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      requestBody:
        description: Parameters supplied to update the action group.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActionGroupPatchBody'
      responses:
        '200':
          description: An existing action group was successfully updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionGroupResource'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /subscriptions/{subscriptionId}/providers/Microsoft.Insights/actionGroups:
    get:
      operationId: ActionGroups_ListBySubscriptionId
      summary: Azure Monitor List action groups in a subscription
      description: Get a list of all action groups in a subscription.
      tags:
      - Action Groups
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successful request for a list of action groups.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionGroupList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/actionGroups:
    get:
      operationId: ActionGroups_ListByResourceGroup
      summary: Azure Monitor List action groups in a resource group
      description: Get a list of all action groups in a resource group.
      tags:
      - Action Groups
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successful request for a list of action groups.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionGroupList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/actionGroups/{actionGroupName}/subscribe
  : post:
      operationId: ActionGroups_EnableReceiver
      summary: Azure Monitor Enable a receiver in an action group
      description: Enable a receiver in an action group. This re-subscribes a receiver that has been unsubscribed.
      tags:
      - Action Groups
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ActionGroupNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      requestBody:
        description: The receiver to re-enable.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnableRequest'
      responses:
        '200':
          description: The receiver was successfully enabled.
        '409':
          description: The receiver is already enabled.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    LogicAppReceiver:
      type: object
      required:
      - name
      - resourceId
      - callbackUrl
      properties:
        name:
          type: string
          description: The name of the Logic App receiver.
        resourceId:
          type: string
          description: The Azure resource ID of the Logic App.
        callbackUrl:
          type: string
          format: uri
          description: The callback URL.
        useCommonAlertSchema:
          type: boolean
          default: false
          description: Indicates whether to use common alert schema.
    ActionGroupPatchBody:
      type: object
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags.
        properties:
          type: object
          properties:
            enabled:
              type: boolean
              description: Indicates whether the action group is enabled.
    SmsReceiver:
      type: object
      required:
      - name
      - countryCode
      - phoneNumber
      properties:
        name:
          type: string
          description: The name of the SMS receiver.
        countryCode:
          type: string
          description: The country code of the SMS receiver.
        phoneNumber:
          type: string
          description: The phone number of the SMS receiver.
        status:
          type: string
          readOnly: true
          enum:
          - NotSpecified
          - Enabled
          - Disabled
          description: The receiver status.
    AzureAppPushReceiver:
      type: object
      required:
      - name
      - emailAddress
      properties:
        name:
          type: string
          description: The name of the Azure App Push receiver.
        emailAddress:
          type: string
          format: email
          description: The email address registered for the Azure mobile app.
    ItsmReceiver:
      type: object
      required:
      - name
      - workspaceId
      - connectionId
      - ticketConfiguration
      - region
      properties:
        name:
          type: string
          description: The name of the ITSM receiver.
        workspaceId:
          type: string
          description: Log Analytics workspace ID.
        connectionId:
          type: string
          description: The unique connection identifier.
        ticketConfiguration:
          type: string
          description: JSON blob for the configurations of the ITSM action.
        region:
          type: string
          description: Region in which workspace resides.
    ActionGroup:
      type: object
      required:
      - groupShortName
      - enabled
      properties:
        groupShortName:
          type: string
          maxLength: 12
          description: The short name of the action group (max 12 characters).
        enabled:
          type: boolean
          description: Indicates whether this action group is enabled.
          default: true
        emailReceivers:
          type: array
          items:
            $ref: '#/components/schemas/EmailReceiver'
          description: The list of email receivers.
        smsReceivers:
          type: array
          items:
            $ref: '#/components/schemas/SmsReceiver'
          description: The list of SMS receivers.
        webhookReceivers:
          type: array
          items:
            $ref: '#/components/schemas/WebhookReceiver'
          description: The list of webhook receivers.
        itsmReceivers:
          type: array
          items:
            $ref: '#/components/schemas/ItsmReceiver'
          description: The list of ITSM receivers.
        azureAppPushReceivers:
          type: array
          items:
            $ref: '#/components/schemas/AzureAppPushReceiver'
          description: The list of Azure App Push receivers.
        automationRunbookReceivers:
          type: array
          items:
            $ref: '#/components/schemas/AutomationRunbookReceiver'
          description: The list of Automation Runbook receivers.
        voiceReceivers:
          type: array
          items:
            $ref: '#/components/schemas/VoiceReceiver'
          description: The list of voice receivers.
        logicAppReceivers:
          type: array
          items:
            $ref: '#/components/schemas/LogicAppReceiver'
          description: The list of Logic App receivers.
        azureFunctionReceivers:
          type: array
          items:
            $ref: '#/components/schemas/AzureFunctionReceiver'
          description: The list of Azure Function receivers.
        armRoleReceivers:
          type: array
          items:
            $ref: '#/components/schemas/ArmRoleReceiver'
          description: The list of ARM role receivers.
        eventHubReceivers:
          type: array
          items:
            $ref: '#/components/schemas/EventHubReceiver'
          description: The list of Event Hub receivers.
    ActionGroupResource:
      type: object
      required:
      - location
      properties:
        id:
          type: string
          readOnly: true
          description: Azure resource ID.
        name:
          type: string
          readOnly: true
          description: Azure resource name.
        type:
          type: string
          readOnly: true
          description: Azure resource type.
        location:
          type: string
          description: Resource location.
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags.
        properties:
          $ref: '#/components/schemas/ActionGroup'
    AutomationRunbookReceiver:
      type: object
      required:
      - automationAccountId
      - runbookName
      - webhookResourceId
      - isGlobalRunbook
      properties:
        automationAccountId:
          type: string
          description: The Azure automation account ID.
        runbookName:
          type: string
          description: The name for this runbook.
        webhookResourceId:
          type: string
          description: The resource ID for webhook linked to this runbook.
        isGlobalRunbook:
          type: boolean
          description: Indicates whether this is a global runbook.
        name:
          type: string
          description: The name of the automation runbook receiver.
        serviceUri:
          type: string
          format: uri
          description: The URI where webhooks should be sent.
        useCommonAlertSchema:
          type: boolean
          default: false
          description: Indicates whether to use common alert schema.
    WebhookReceiver:
      type: object
      required:
      - name
      - serviceUri
      properties:
        name:
          type: string
          description: The name of the webhook receiver.
        serviceUri:
          type: string
          format: uri
          description: The URI where webhooks should be sent.
        useCommonAlertSchema:
          type: boolean
          default: false
          description: Indicates whether to use common alert schema.
        useAadAuth:
          type: boolean
          default: false
          description: Indicates whether to use AAD authentication.
        objectId:
          type: string
          description: The object ID for AAD auth.
        identifierUri:
          type: string
          description: The identifier URI for AAD auth.
        tenantId:
          type: string
          description: The tenant ID for AAD auth.
    EnableRequest:
      type: object
      required:
      - receiverName
      properties:
        receiverName:
          type: string
          description: The name of the receiver to re-enable.
    AzureFunctionReceiver:
      type: object
      required:
      - name
      - functionAppResourceId
      - functionName
      - httpTriggerUrl
      properties:
        name:
          type: string
          description: The name of the Azure Function receiver.
        functionAppResourceId:
          type: string
          description: The Azure resource ID of the function app.
        functionName:
          type: string
          description: The function name in the function app.
        httpTriggerUrl:
          type: string
          format: uri
          description: The HTTP trigger URL.
        useCommonAlertSchema:
          type: boolean
          default: false
          description: Indicates whether to use common alert schema.
    VoiceReceiver:
      type: object
      required:
      - name
      - countryCode
      - phoneNumber
      properties:
        name:
          type: string
          description: The name of the voice receiver.
        countryCode:
          type: string
          description: The country code of the voice receiver.
        phoneNumber:
          type: string
          description: The phone number of the voice receiver.
    EmailReceiver:
      type: object
      required:
      - name
      - emailAddress
      properties:
        name:
          type: string
          description: The name of the email receiver.
        emailAddress:
          type: string
          format: email
          description: The email address of this receiver.
        useCommonAlertSchema:
          type: boolean
          default: false
          description: Indicates whether to use common alert schema.
        status:
          type: string
          readOnly: true
          enum:
          - NotSpecified
          - Enabled
          - Disabled
          description: The receiver status.
    ErrorResponse:
      type: object
      properties:
        code:
          type: string
          description: Error code.
        message:
          type: string
          description: Error message indicating why the operation failed.
    ArmRoleReceiver:
      type: object
      required:
      - name
      - roleId
      properties:
        name:
          type: string
          description: The name of the ARM role receiver.
        roleId:
          type: string
          description: The ARM role ID.
        useCommonAlertSchema:
          type: boolean
          default: false
          description: Indicates whether to use common alert schema.
    ActionGroupList:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/ActionGroupResource'
          description: The list of action groups.
        nextLink:
          type: string
          description: Link to the next page of results.
    EventHubReceiver:
      type: object
      required:
      - name
      - eventHubNameSpace
      - eventHubName
      - subscriptionId
      properties:
        name:
          type: string
          description: The name of the Event Hub receiver.
        eventHubNameSpace:
          type: string
          description: The Event Hub namespace.
        eventHubName:
          type: string
          description: The name of the specific Event Hub queue.
        subscriptionId:
          type: string
          description: The ID for the subscription containing the Event Hub.
        tenantId:
          type: string
          description: The tenant ID to access the Event Hub.
        useCommonAlertSchema:
          type: boolean
          default: false
          description: Indicates whether to use common alert schema.
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client API version.
      schema:
        type: string
        default: '2022-06-01'
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group.
      schema:
        type: string
    ActionGroupNameParameter:
      name: actionGroupName
      in: path
      required: true
      description: The name of the action group.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The ID of the target subscription.
      schema:
        type: string
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://login.microsoftonline.com/{tenantId}/oauth2/v2.0/token
          scopes:
            https://management.azure.com/.default: Access Azure Management API
