openapi: 3.1.0
info:
  title: Azure Monitor Action Groups Predictive Metrics API
  description: Create and manage action groups that define notification and automation actions triggered by Azure Monitor alerts, including email, SMS, webhooks, and Azure Functions.
  version: '2022-06-01'
  contact:
    name: Microsoft Azure Support
    url: https://azure.microsoft.com/en-us/support/options/
  license:
    name: Microsoft API License
    url: https://azure.microsoft.com/en-us/support/legal/
servers:
- url: https://management.azure.com
  description: Azure Resource Manager
security:
- oauth2:
  - https://management.azure.com/.default
tags:
- name: Predictive Metrics
  description: Operations for getting predictive autoscale metrics
paths:
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Insights/autoscalesettings/{autoscaleSettingName}/predictiveMetrics
  : get:
      operationId: PredictiveMetric_Get
      summary: Azure Monitor Get predictive autoscale metrics
      description: Get predictive autoscale metric data for an autoscale setting. Returns predicted values based on the autoscale setting's predictive policy.
      tags:
      - Predictive Metrics
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/AutoscaleSettingNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - name: timespan
        in: query
        required: true
        description: The timespan of the query in ISO 8601 format.
        schema:
          type: string
      - name: interval
        in: query
        required: true
        description: The interval of the query in ISO 8601 duration format.
        schema:
          type: string
      - name: metricNamespace
        in: query
        required: true
        description: Metric namespace to query.
        schema:
          type: string
      - name: metricName
        in: query
        required: true
        description: The names of the metrics to retrieve.
        schema:
          type: string
      - name: aggregation
        in: query
        required: true
        description: The list of aggregation types to retrieve.
        schema:
          type: string
      responses:
        '200':
          description: Successful request to get predictive metric data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PredictiveResponse'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client API version.
      schema:
        type: string
        default: '2022-10-01'
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The ID of the target subscription.
      schema:
        type: string
    AutoscaleSettingNameParameter:
      name: autoscaleSettingName
      in: path
      required: true
      description: The autoscale setting name.
      schema:
        type: string
  schemas:
    ErrorResponse:
      type: object
      properties:
        code:
          type: string
          description: Error code.
        message:
          type: string
          description: Error message indicating why the operation failed.
    PredictiveResponse:
      type: object
      properties:
        timespan:
          type: string
          description: The timespan for which the data was retrieved.
        interval:
          type: string
          description: The interval (window size) for which the metric data was returned.
        metricName:
          type: string
          description: The metrics being queried.
        targetResourceId:
          type: string
          description: Resource of the predictive metric.
        data:
          type: array
          items:
            type: object
            properties:
              timeStamp:
                type: string
                format: date-time
                description: The timestamp.
              value:
                type: number
                format: double
                description: The predicted metric value.
          description: The predicted metric values.
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://login.microsoftonline.com/{tenantId}/oauth2/v2.0/token
          scopes:
            https://management.azure.com/.default: Access Azure Management API
